#map {
  height: 500px;
  width: 1000px;;
  margin:0 auto;
  /* position: absolute; */
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
 
}

header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  font-weight: 200;
}
#drop-btn{
    /* possibly a better color background-color:#3498 */
    background-color:rgba(217, 255, 0, 0.37);
    color:white;
    padding:16px;
    font-size:16px;
    width:53.36px; 
    height: 50.4;
    margin: 80%;
    border:none;
    cursor:pointer;
}
#drop-btn:hover{
  background-color:rgb(0, 255, 21);
}

.dropdown{
  position: relative;
  display:inline-block;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color:#f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color:black;
  padding: 12px 16px;
  text-decoration: none;
  display:block;
}

.dropdown-content a:hover {background-color:#ddd}

.show{display:block;}

